<header>
  <nav class="navbar navbar-toggleable navbar-light">
    <a class="navbar-brand logo" href="/"
      ><img src="img/cp-logo-md.png" alt="logo" height="80"
    /></a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/dashboard" class="nav-link">/Search</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">/Sign Out</a>
      </li>
    </ul>
  </nav>
</header>

<!-- 
<nav class="navbar navbar-expand-lg">
  <div class="content">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand logo" href="/"
        ><img src="img/cp-logo-md.png" alt="logo" height="80"
      /></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-success font-weight-bold h5" href="/dashboard"
            >/Search <span class="sr-only">(current)</span></a
          >
        </li>
        <li>
          <a class="nav-item nav-link h5 text-muted" href="#">/Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
