<footer class="row text-center">
  <div class="col small">
    Made with ❤️ in Melbourne.
    <a href="https://github.com/ankitsejwal/covidplasma" target="_blank"
      >SUPPORT READ</a
    >
  </div>
</footer>
