<footer class="row text-center">
  <div class="col">
    Made with ❤️ in Melbourne. Support by reading
    <a href="https://github.com/ankitsejwal/covidplasma" target="_blank"
      >this page</a
    >
  </div>
</footer>
