<header>
  <nav class="navbar navbar-toggleable navbar-light">
    <a class="navbar-brand logo" href="/"
      ><img src="img/cp-logo-md.png" alt="logo" height="80"
    /></a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/donors" class="nav-link">/Donate Plasma</a>
      </li>
      <li class="nav-item">
        <a href="/seekers" class="nav-link">/Get Plasma</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link">/Login</a>
      </li>
    </ul>
  </nav>
</header>

<!-- 
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="content row">
      <div class="logo">
        <a class="navbar-brand" href="/"
          ><img src="img/cp-logo-md.png" alt="logo" height="80"
        /></a>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-success font-weight-bold h5" href="/donors"
              >/Donate Plasma <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold h5 text-primary" href="/seekers"
              >/Get Plasma</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->
