<nav class="navbar navbar-expand-lg navbar-light bg-white rounded mt-4">
  <a class="navbar-brand" href="/"
    ><img src="img/cp-logo-md.png" alt="logo" height="80"
  /></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-success font-weight-bold" href="/donors"
          >/ Donate Plasma <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold text-primary" href="/seekers"
          >/ Get Plasma</a
        >
      </li>
    </ul>
  </div>
</nav>
