<nav class="navbar navbar-expand-lg">
  <div class="content row">
    <a class="navbar-brand" href="/"
      ><img src="img/cp-logo-md.png" alt="logo" height="80"
    /></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-success font-weight-bold h5" href="/donors"
            >/ Donate Plasma <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold h5 text-primary" href="/seekers"
            >/ Get Plasma</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
