<div class="row">
  <div id="main-wrapper" class="col-sm-12 col-md-12 col-lg-8">
    <div class="row justify-content-center">
      <div class="main col-sm-12 col-md-9 col-lg-8">
        <%- include("./partials/_header.ejs") %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="main col-sm-12 col-md-9 col-lg-8">
        <div class="heading-wrapper">
          <p class="heading h3">Donate plasma</p>
          <p class="paragraph">
            Please fill your details below.
            <br />
            Once we get a match we'll connect you with a plasma seeker. Thanks.
          </p>
        </div>
        <form class="userform" action="/donors" method="post">
          <%- include("./partials/_user_form") %>
        </form>
        <!-- <div class="col-5"></div> -->
      </div>
    </div>
  </div>
    <div class="sidebar col-sm-12 col-md-12 col-lg-4 hidden-lg-up vh-100 sticky-top">
      <div class="donors vh-100">
        <div class="wrapper">
          <div class="main">
            <h3>Donate now</h3>
            <p>“Convalescent plasma donations from someone who has recovered from COVID-19 may help boost the immunity of patients still battling the disease.”</p>  
          </div>
          <div class="foot">
            <p>Your information will be kept hidden. <br> 
              Plasma seeker may contact you in emergency.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>