<div class="row">
  <div class="col-md-4">
    <form action="/donors" method="post">
      <%- include("./partials/userform") %>
    </form>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
