<div class="row">
  <div id="main-wrapper" class="col-sm-12 col-md-12 col-lg-8">
    <div class="row justify-content-center">
      <div class="main col-sm-12 col-md-9 col-lg-8">
        <%- include("./partials/_header.ejs") %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="main col-sm-12 col-md-9 col-lg-8">
        <div class="heading-wrapper">
          <p class="heading h3">Login</p>
          <p class="paragraph">
            If you are a Donor or Seeker<br />
            you can edit or delete your details after login.
          </p>
        </div>
        <form class="userform" action="/login" method="post">
          <div class="form-group">
            <input
              class="form-control form-control-lg"
              placeholder="Enter Email"
              name="email"
              type="email"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control form-control-lg"
              placeholder="Enter Password"
              name="password"
              type="password"
            />
          </div>
          <button class="btn btn-lg btn-block btn-primary" type="submit">
            Submit
          </button>
        </form>
      <!-- <div class="col-5"></div> -->
    </div>
  </div>
</div>
<div class="sidebar col-sm-12 col-md-12 col-lg-4 hidden-lg-up vh-100 sticky-top">
  <div class="login background vh-100">
    <div class="wrapper">
      <div class="main">
        <h3>Edit Details</h3>
        <p>“Your details are kept securely on our servers, you may edit them at any point by login it using your email and password.”</p>  
      </div>
      <div class="foot">
        <p>Your passwords are kept encrypted.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
